@import url('https://fonts.googleapis.com/css?family=Montez');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

$primary-color: #444;
$secondary-color: #eece1a;
$other-color: #dbdb30;
$extra-color: rgba(101, 255, 41, 0.603);
$show-home-image: true;
$home-image: url(../img/background.jpeg);
$background-opacity: 0.8;
$total: 300; // total particles
$orb-size: 5rem;
$particle-size: .1rem;
$time: 18s;
$base-hue: 765;


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background { 
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 612px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}