@import 'config';
@import 'menu';
@import url("./footer.css");
@import url('https://fonts.googleapis.com/css?family=Cinzel|Monoton|Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-family: 'Cinzel', serif;
    font-size: 6rem;
    margin-top: 1rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
    
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.diff-text {
  color: $other-color;
}

.extra-text {
  color: $extra-color;
}

.more {
  float: right;
  padding: .5rem;
  margin-top: 1.7rem; 
  color: $other-color;
}

.menuPlus {
  padding: 1rem;
  margin: 1rem;
}

main {
  padding: 2rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.hobby {
  overflow: hidden;
  text-align: center;
  padding: 0rem 2rem;
}

.about-info {
  display: grid;
  grid-gap: 1.6rem;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.3rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Under construction parts
.coming-soon{
  section{
    height: 100%;
    display: inline-flexbox;
    margin: 0 .3rem; // To look nice on mobile
    text-align: center;
    padding-bottom: 4rem;
    align-items: center;
    h3{
      font-size: 2rem;
      font-weight: 100;
      color: #F44;
      margin: 0;
      padding: 0;
    }
    h4{
      font-size: 1.2rem;
      font-weight: 100;
      margin-bottom: 0;
      margin-top: .1rem;
    }
    small{
      font-size: 1em;
      font-weight: 100;
      margin-top: 0;
      color: #ffff;
    }
    a{
      font-size: 1.4em;
      font-weight: 300;
      color:$secondary-color;
      text-decoration: none;
      }
    }
  }
  
  .pointer {
    .chevron {
      left:35%;
      right: 65%;
      position: absolute;
      color: $secondary-color;
      width: 28px;
      height: 8px;
      margin: .1rem .1rem;
      padding-bottom: .2rem;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  .xoxo { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 100px; 
  } 
  
  .box1 { 
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 1; 
  }
  
  
  * {box-sizing: border-box;}
  
  .xoxo {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
  }
  
  .xoxo > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
  
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
      }
    }
  }

  blockquote{
    display: block;
    background: #fff;
    padding: 1rem 4rem;
    margin: 0 0 0.1rem;
    position: relative;
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 1.2;
    color: $primary-color;
    padding-right: .2rem;
  
    /*Borders - (Optional)*/
    border-left-style: solid;
    border-left-width: 15px;
    border-right-style: solid;
    border-right-width: 2px;    
  }
  
  blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color:$secondary-color;
    
    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
    
  }
  
  blockquote::after{
    /*Reset to make sure*/
    content: '';
  }
  
  blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
  }
  
  blockquote a:hover{
   color: #666;
  }

 
/*Sunflower Color Palette*/
.sunflower{
  @extend blockquote;
  border-left-color: $other-color;
  border-right-color: $other-color;
}

.particles {
    position: relative;
    top: 50%;
    left: 50%;
    width: 0; 
    height: 0;
    margin: 4rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: rotate $time infinite linear; // rotate orb
  }
  
  @keyframes rotate {
    100% {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }
  
  .parts {
    position: absolute;
    width: $particle-size;
    height: $particle-size;
    border-radius: 50%;
    opacity: 0;
  }
  
  @for $i from 1 through $total {
    $z: (random(360) * 1deg); // random angle to rotateZ
    $y: (random(360) * 1deg); // random to rotateX
    $hue: ((40/$total * $i) + $base-hue); // set hue
    
    .parts:nth-child(#{$i}){ // grab the nth particle
      animation: orbit#{$i} $time infinite;
      animation-delay: ($i * .01s); 
      background-color: hsla($hue, 100%, 50%, 1);
    }
  
    @keyframes orbit#{$i}{ 
      20% {
        opacity: 1; // fade in
      }
      30% {
        transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
      }
      80% {
        transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 30-80
        opacity: 1; // hold opacity 20-80
      }
      100% {
         transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3) ) rotateZ($z); // translateX * 3
      }
    }
  }

@import 'mobile';